@import url('https://fonts.googleapis.com/css?family=Joti+One|Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100vh;
    background: teal ;
}



header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: h;
    background: #3699a9;
    color: whitesmoke;
}

header > h1 {
    text-align: center;
    padding: 2vh;
    font-family: "Segoe UI";
    font-size: 2.5rem;
}

.beat-animation {
    -webkit-animation: beat 3s infinite ease-in-out;
            animation: beat 3s infinite ease-in-out;
}

.icons-animation {
    -webkit-animation: beat-icons 3s infinite ease-in-out;
            animation: beat-icons 3s infinite ease-in-out;
}

h1:hover {
    background-color: white;
    color: black;
}

main {
    
    grid-area: m;
    background: rgb(123,144,140);
    margin: auto;
    padding: 74px;
    text-align: center;
}

ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[3];
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

li {
    list-style: none;
    padding: 15px;
    margin: 4px;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    border: 1px solid;
    border-radius: 10px;
    -webkit-box-shadow: 0 6px #123456;
            box-shadow: 0 6px #123456;
}

li:nth-child(1) {
    grid-column: 1 / -1;
}

li:nth-child(11) {
    background: #76f8a3;
    color: #f63823;
}

li:nth-child(12) {
    background: #934976;
    color: #f0f0f0;
}

li:nth-child(13) {
    background: lightblue;
    color: #456657;
}



li:hover {
    opacity: 0.7;
    background: #aaa;
    color: whitesmoke;
    -webkit-box-shadow: 0 4px #123456;
            box-shadow: 0 4px #123456;  
    top: 2px;
    -webkit-transition: background 1.5s ease;
    -o-transition: background 1.5s ease;
    transition: background 1.5s ease; 
}

footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-area: f;
    background: #678998;
    color: whitesmoke;
}

footer > p {
    text-align: center;
    padding: 2vh;
    font-family: 'Segoe UI';
    font-size: 0.9rem;
}
